* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px;
}

#inbx ul {
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    margin: 10px;
    padding: 10px;
}

#input {
    display: flex;
    height: 38px;
    margin: 5px;
}

#input button {
    margin: 0;
    width: 80px;
    line-height: 17px;
    margin-left: 10px;
}

#container {
    display: flex;
    width: 70%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

#inbx {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.black_bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    padding: 20px;
    text-align: center;
}

.white_bg {
    width: 30%;
    height: 250px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    display: grid;
    align-content: center;
    justify-content: center;
}

.resultMenu {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 50px;
    font-size: 45px;
    font-weight: bold;
}

.resultMenu div {
    margin: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/* 슬롯리스트 */
.resultMenu div ul {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    background: #fff;
    animation: slide .3s step-end forwards;
}

/* 실제 결과값 */
.resultMenu h1:nth-child(2) {
    position: absolute;
    opacity: 0;
    animation: appear .5s step-start .3s forwards;

}

/* 슬롯애니 */
@keyframes slide {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-10%);
    }
    20% {
        transform: translateY(-20%);
    }
    30% {
        transform: translateY(-30%);
    }
    40% {
        transform: translateY(-40%);
    }
    50% {
        transform: translateY(-50%);
    }
    60% {
        transform: translateY(-60%);
    }
    70% {
        transform: translateY(-70%);
    }
    80% {
        transform: translateY(-80%);
    }
    90% {
        transform: translateY(-90%);
    }
    100% {
        opacity: 0;
    }

}

@keyframes appear {

    100% {
        opacity: 1;
    }

}


/******** 900px 이하 미디어쿼리 ********/
@media screen and (max-width:900px) {
    #container {
        width: 90%;
    }

    #inbx {
        width: 80%;
    }

    .white_bg {
        width: 80vw;
        height: 30vh;
    }

}